version: '3'
services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: poc_rtc_laravel
        working_dir: /var/www
        volumes:
            - '.:/var/www'
            - 'vendor:/var/www/vendor'
        networks:
            - laravel
    nginx:
        image: 'nginx:alpine'
        container_name: nginx_server
        ports:
            - '80:80'
        volumes:
            - '.:/var/www'
            - './nginx.conf:/etc/nginx/conf.d/default.conf'
        depends_on:
            - app
        networks:
            - laravel
    mysql:
        image: 'mysql:8.0'
        container_name: mysql_database
        ports:
            - '3306:3306'
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: laravel
            MYSQL_USER: sail
            MYSQL_PASSWORD: password
        volumes:
            - 'sailmysql:/var/lib/mysql'
        networks:
            - laravel
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: phpmyadmin_server
        environment:
            - PMA_HOST=mysql
            - PMA_PORT=3306
        ports:
            - '8080:80'
        depends_on:
            - mysql
        networks:
            - laravel
networks:
    laravel:
        driver: bridge
volumes:
    vendor:
        driver: local
    sailmysql:
        driver: local
    sail-mysql:
        driver: local
